{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Printing Results
{% endblock %}

{% block content %}

    {% if player.id_in_group == 1 %}
        Player 2 invested {{player2_investment1}}<br>

        Player 3 invested {{player3_investment1}}<br>

        Player 4 invested {{player4_investment1}}<br>

        How much do you want to return? <br>

        {% formfield player.return2 %} <br>

        {% formfield player.return3 %} <br>

        {% formfield player.return4 %} <br>

        {% formfield player.return1 %}



    {% elif player.id_in_group == 2 %}
        Player 1 invested {{player1_investment2}} <br>

        Player 3 invested {{player3_investment2}}<br>

        Player 4 invested {{player4_investment2}}<br>

        How much do you want to return? <br>

        {% formfield player.return1 %} <br>

        {% formfield player.return3 %} <br>

        {% formfield player.return4 %} <br>

        {% formfield player.return2 %}

    {% elif player.id_in_group == 3 %}
        Player 1 invested {{player1_investment3}}  <br>

        Player 2 invested {{player2_investment3}} <br>

        Player 4 invested {{player4_investment3}} <br>

        How much do you want to return? <br>

        {% formfield player.return1 %} <br>

        {% formfield player.return2 %} <br>

        {% formfield player.return4 %} <br>

        {% formfield player.return3 %}

    {% elif player.id_in_group == 4 %}
        Player 1 invested {{player1_investment4}}  <br>

        Player 2 invested {{player2_investment4}} <br>

        Player 3 invested {{player3_investment4}} <br>

        How much do you want to return? <br>

        {% formfield player.return1 %} <br>

        {% formfield player.return2 %} <br>

        {% formfield player.return3 %} <br>

        {% formfield player.return4 %}



    {% else %}
        you should never see this
    {% endif %}

    {% next_button %}
{% endblock %}


